{% include "header.html" %}

{% include "navigation.html" %}

<div class="container mt-5">
    <div class="row mt-5">
        <div class="col-lg-4">
            <!-- Image -->
			<div class="row mt-3">
                <figure>
                    <img src="{{ url_for('static', filename='img/app_icon.jpg') }}" class="img-fluid" alt="code image">
				</figure>
            </div>
        </div>

        <div class="col-lg-8">
            <div class="row mt-5">
                <form action="#">
                  <h3>This page still in progress</h3>
                </form>
            </div>

        </div>
    </div>
</div>